<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evostar.dao.UserDAO">
    <sql id="table">user</sql>
    <sql id="selectFields"> id, name, password, salt, head_url </sql>
    <resultMap id="userMap" type="user">
        <id property="id" column="id"></id>
        <result property="headUrl" column="head_url"></result>
    </resultMap>
    <select id="selectByIds" resultMap="userMap">
        select
            <include refid="selectFields"></include>
        from
            <include refid="table"></include>
        where
            id
        <choose>
            <when test="userIdList != null and userIdList.size()>0">
                in
                <foreach collection="userIdList" item="userId" open="(" close=")" separator=",">#{userId}</foreach>
            </when>
            <otherwise>
                = 0
            </otherwise>
        </choose>
    </select>
</mapper>